
<!doctype html>
<html>
<head>

<body>
  <div >
    <table style="width:100%;" >
      <tr class="introduction">
        <td app/assets/images/logo.pgn>

        </td>
        <td style="width:60%;">
          <strong> Gorillabox.co ltd</strong></br>
          <i>Your monthly box of healthy goodness</i></br></br>
          Unit 13, 138 Kingsland Rd, London E2 8DY</br>
          020 7729 0146
        </td>
        <td style="width:40%;">
          <p style="text-align:right">
          <strong> INVOICE </strong></br>
          Invoice #: <%= rand.to_s[2..11] %></br>
          Date Issued: <%= (Time.now).hour %>:<%= (Time.now).min  %> | <%= (Time.now).day %>/<%=(Time.now).month %>/<%=(Time.now).year %></br>
          Due: Paid</br></p>
        </td>
      </tr>

    </table>

    <table style="width:100%;">
       <td>
        <p style="text-align: right">
          To: </br>
          <strong>Name: </strong><%= @subscription.user.first_name %></br>
          <strong>Email: </strong><%= @subscription.user.email %></br>
          <strong>Delivery Address: </strong><%= @subscription.user.delivery_address %></br>
       </p>
       </td>
    </table>


    </br>
    </br>

    <pre><p style="text-align:center; font-size: 15px;">Please find below your order details</p></pre>

    </br>
    </br>

    <pre><h3>Order Details:</h3></pre>
    <div class="f-inputs">
      <pre style="font-size: 15px;"><strong>Item: </strong> <%= @subscription.box.title %></pre>
    </div>

    <div class="f-inputs">
      <pre style="font-size: 15px;"><strong>Quantity: </strong> <%= @subscription.quantity %></pre>
    </div>

    <div class="f-inputs">
      <pre style="font-size: 15px;"><strong>Subscription Duration: </strong> <%= @subscription.duration %></pre>
    </div>

    <div id="hidden_delivery_address", style="display: none;">
      <%= @subscription.delivery_address %>
   </div>

    <div class="f-inputs">
      <pre style="font-size: 15px;"><strong>Delivery address: </strong> <%= @subscription.delivery_address %></pre>
    </div>

    <div class="f-inputs">
      <pre style="font-size: 15px;"><strong>Payment status: </strong> <%= @subscription.state %></pre>
    </div>


    <div class="f-inputs">
      <pre style="font-size: 15px;"><strong>Total: GBP <%=@subscription.amount %></strong></pre>
    </div>

    </br>
  </div>


</body>
</html>









