<div class="landing-page-banner pt-5">
  <div class="pt-5 container">
      <div class="row">

          <div class="col-md-6 col-lg-6">
            <h1 style="font-weight: bold">Your monthly box of <br><span style="color: #AA96DA">healthy</span> goodness.</h1>
            <p>A monthly subscription box filled with healthy, low cost &<br> organic products, hand picked by experts.</p>

            <div>
                <a class="btn btn-green section1" href="#">Order a box</a>
            </div>
          </div>

        <div class="col-md-6 col-lg-6">
          <%= video_tag("mint_tea.mp4", autoplay: "autoplay", muted: "muted", loop: "loop", class: "bg-video") %>
        </div>

      </div>
    </div>
</div>

<div class="landing-page-how">
    <div class="container pb-5">
      <div class="row">
          <h2 class="text-center col-12">How it works</h2>
      </div>
    </div>

    <div class="container pt-5">
        <div class="row">


          <div class="col-md-4" data-aos="zoom-in">
              <%= image_tag("b14.png", :alt => "pick-box", class:"img-fluid mx-auto d-block") %>
              <h3 class="color-purple text-center">Pick</h3>
              <p>Find your favourite box from our three 'rilla' categories</p>
          </div>

          <div class="col-md-4" data-aos="zoom-in">
                <%= image_tag("b12.png", :alt => "create-account", class:"img-fluid mx-auto d-block") %>
                <h3 class="color-purple text-center">Create</h3>
                <p>Sign up with gorillabox and pick the subscription you like</p>
          </div>

          <div class="col-md-4" data-aos="zoom-in">
                <%= image_tag("b13.png", :alt => "start-challenge", class:"img-fluid mx-auto d-block") %>
                <h3 class="color-purple text-center">Start</h3>
                <p>Do your challenges, earn rewards, let us deliver</p>
          </div>

        </div>
    </div>
</div>

<div class="landing-page-middle section2">
  <div class="container pb-5 pt-5">
    <div class="row">
        <h2 class="text-center col-12 ">Choose the right box for you</h2>
    </div>
  </div>

  <div class="container pt-5" data-aos="fade-up">
    <div class="row">
      <% @boxes.each do |box|  %>
        <%= link_to box_path(box), class:"col-lg-4" do %>
          <div class="card-trip">
            <%= image_tag (box.main_image) %>
            <div class="card-trip-infos">
              <div>
                <h2><%= box.title %> </h2>
                <p><%= box.description %></p>
              </div>
              <h2 class="card-trip-pricing"><%= humanized_money_with_symbol(box.price) %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="landing-page-footer">
    <div class="container pb-5">
      <div class="row">
          <h2 class="text-center col-12">Ready to reinvent your snacking experience?</h2>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="mx-auto" style="width: 700px;" data-aos="zoom-in">
            <div>
              <%= image_tag("footer-illustration.png", :alt => "pick-box", class:"img-fluid mx-auto d-block") %>
            </div>

              <div class="flex-button-center" style="display: flex; justify-content: center;">
                <a class="btn btn-green" id="section3" href="#" style="text-align: center;">Order a box</a>
              </div>
          </div>
        </div>
    </div>
</div>

<script>
  AOS.init({
  duration: 1200,
})

  AOS.init();

  document.getElementById('section3').addEventListener('click', function (e) {
    e.preventDefault();
    document.querySelector('.section2').scrollIntoView({
      behavior: 'smooth'
    });
  });

</script>
