
<div class="container">
  <div class="row">

      <div class="col-md-6 col-lg-6">
        <h1>Your monthly box of <br><span style="color: #AA96DA">healthy</span> goodness.</h1>
        <p>A monthly subscription box filled with healthy, low cost &<br> organic products, hand picked by experts.</p>

        <div>
            <a class="btn btn-green section1" href="#">Order a box</a>
        </div>

      </div>

    <div class="col-md-6 col-lg-6">
      <%= video_tag("mint_tea.mp4", autoplay: "autoplay", muted: "muted", loop: "loop", class: "bg-video") %>
    </div>

  </div>
</div>

<div class="container pb-5 pt-5">
  <div class="row">
      <h2 class="text-center col-12">How it works</h2>
  </div>
</div>

  <div class="container">
      <div class="row">

        <div class="col-md-4">
            <%= image_tag("b14.png", :alt => "pick-box", class:"img-fluid mx-auto d-block") %>
            <h3 class="color-purple text-center">Pick</h3>
            <p>Find your favourite box from our three 'rilla' categories</p>
        </div>

        <div class="col-md-4">
              <%= image_tag("b12.png", :alt => "create-account", class:"img-fluid mx-auto d-block") %>
              <h3 class="color-purple text-center">Create</h3>
              <p>Sign up with gorillabox and pick the subscription you like</p>
        </div>

        <div class="col-md-4">
              <%= image_tag("b13.png", :alt => "start-challenge", class:"img-fluid mx-auto d-block") %>
              <h3 class="color-purple text-center">Start</h3>
              <p>Do your challenges, earn rewards, let us deliver</p>
        </div>

      </div>
  </div>

  <div class="container pb-5 pt-5">
    <div class="row">
        <h2 class="text-center col-12 section2">Choose the right box for you</h2>
    </div>
  </div>

  <div class="container pb-5 mb-3">
    <div class="row">
      <% @boxes.each do |box|  %>
        <%= link_to box_path(box), class:"col-lg-4" do %>
          <div class="card-trip">
            <%= image_tag (box.main_image) %>
            <div class="card-trip-infos">
              <div>
                <h2><%= box.title %> </h2>
                <p><%= box.description %></p>
              </div>
              <h2 class="card-trip-pricing">£99.99</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    
<!--     <script>
      function smoothScroll(target, duration){
        var target = document.querySelector(target); 
        var targetPosition = target.getBoundingClientRect().top;
        var startPosition = window.pageYOffset;
        var distance = targetPosition - startPosition;
        var startTime = null;

      function animation(currentTime){
          if(startTime === null) startTime = currentTime;
          var timeElapsed = currentTime - startTime;
          var run = ease(timeElapsed,startPosition,distance,duration);
          window.scrollTo(0,run);
          if(timeElapsed < duration) requestAnimationFrame(animation);
      }

      function ease(t, b, c, d){
        t /= d / 2;
        if (t < 1) return c / 2 * t + b;
        t --;
        return -c / 2 * (t * (t - 2) - 1) + b;
       }
    requestAnimationFrame(animation);
  }

      var section1 = document.querySelector('.section1');

      section1.addEventListener('click',function(){
        smoothScroll('.section2', 2000);
      });
      
    </script> -->
  </div>
