<div class="container">
  <div class="show-title">
    <h1><%= @box.title %></h1>
  </div>
  <div class="product-info">
    <div class="show-left">
      <div class="expanding-container">
        <!-- Close the image -->
        <!-- Expanded image -->
        <!-- <img id="expandedImg" style="width:100%"> -->
        <%= image_tag @box.main_image, id: "expandedImg" %>

      </div>
      <!-- The grid: four columns -->
      <div class="row">
        <div class="column">
          <%= image_tag @box.image1, class: "thumbnail-image", onclick: "myFunction(this);" %>
        </div>
        <div class="column">
          <%= image_tag @box.image2, class: "thumbnail-image", onclick: "myFunction(this);" %>
        </div>
        <div class="column">
          <%= image_tag @box.image3, class: "thumbnail-image", onclick: "myFunction(this);" %>
        </div>
        <div class="column">
          <%= image_tag @box.main_image, class: "thumbnail-image", onclick: "myFunction(this);" %>
        </div>
      </div>
    </div>

    <div class="show-right">
      <div class="show-overview">
        <h3>Product overview</h3>
        <p><%= @box.description %></p>
      </div>
      <div class="form-price">
        <p><strong>Price per box: <%= humanized_money_with_symbol(@box.price) %></strong></p>
        <%= form_tag new_box_subscription_path(@box), method: :get do %>
          <%= hidden_field_tag 'box_id', @box.id %>
          <%= submit_tag 'Buy Now', class: "btn-purple"%>
        <% end %>
      </div>
    </div>
  </div>
<br>
<br>
  <h2>Latest Reviews:</h2>

  <br>
  <br>
    <!--Carousel Wrapper-->


  <% myReviews = @reviews.sort_by { |review| review['date'] }.reverse %>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <% @reviews.last(3).reverse.each do |review| %>
          <div class="col-md-4">
            <div class="card mb-2">
              <div class="card-body">
                <% if review.user.profile_picture != nil  %>
                  <img class='card-img-top' src="<%= review.user.profile_picture %>" alt='Card image cap'>
                <% else %>
                  <img class='card-img-top' src="https://image.flaticon.com/icons/svg/17/17004.svg" alt='Card image cap'>
                <% end %>
                <div class="card-content">
                  <h4 class="card-title"><strong><%= review.user.first_name %></strong></h4>
                    <%= review.created_at.strftime("%B") %> <%= review.created_at.year %>
                    </br>
                    <% review.stars.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - review.stars).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                </div>
              </div>
              <p class="card-text"> <%= review.description %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <% @reviews.slice(-(@reviews.length), 3).reverse.each do |review| %>
          <div class="col-md-4">
            <div class="card mb-2">
              <div class="card-body">
                <% if review.user.profile_picture != nil  %>
                  <img class='card-img-top' src="<%= review.user.profile_picture %>" alt='Card image cap'>
                <% else %>
                  <img class='card-img-top' src="https://image.flaticon.com/icons/svg/17/17004.svg" alt='Card image cap'>
                <% end %>
                <div class="card-content">
                  <h4 class="card-title"><strong><%= review.user.first_name %></strong></h4>
                    <%= review.created_at.strftime("%B") %> <%= review.created_at.year %>
                    </br>
                    <% review.stars.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - review.stars).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                </div>
              </div>
              <p class="card-text"> <%= review.description %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>


      <div class="controls">
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
</div>
</br>

<h2>All Reviews: </h2>


    <% myReviews.each do |review|%>
        <div class="review">
          <div class="card-body">
                <% if review.user.profile_picture != nil  %>
                  <img class='card-img-top' src="<%= review.user.profile_picture %>" alt='Card image cap'>
                <% else %>
                  <img class='card-img-top' src="https://image.flaticon.com/icons/svg/17/17004.svg" alt='Card image cap'>
                <% end %>
                <div class="card-content">
                  <h4 class="card-title"><strong><%= review.user.first_name %></strong></h4>
                    <%= review.created_at.strftime("%B") %> <%= review.created_at.year %>
                    </br>
                    <% review.stars.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - review.stars).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                </div>
              </br>
            </div>

                <p class="card-text"> <%= review.description %></p>
          </div>
    <% end %>
  </br>


</div>


<script>
  function myFunction(imgs) {
  // Get the expanded image
  var expandImg = document.getElementById("expandedImg");
  // Get the image text
  var imgText = document.getElementById("imgtext");
  // Use the same src in the expanded image as the image being clicked on from the grid
  expandImg.src = imgs.src;
  // Use the value of the alt attribute of the clickable image as text inside the expanded image
  imgText.innerHTML = imgs.alt;
  // Show the container element (hidden with CSS)
  expandImg.parentElement.style.display = "block";
}
</script>
