<div class="container">
  <div class="show-title">
    <h1><%= @box.title %></h1>
  </div>
  <div class="product-info">
    <div class="show-left">
      <div class="expanding-container">
        <!-- Close the image -->
        <!-- Expanded image -->
        <!-- <img id="expandedImg" style="width:100%"> -->
        <%= image_tag @box.main_image, id: "expandedImg" %>

      </div>
      <!-- The grid: four columns -->
      <div class="row">
        <div class="column">
          <%= image_tag @box.image1, class: "thumbnail-image", onclick: "myFunction(this);" %>
        </div>
        <div class="column">
          <%= image_tag @box.image2, class: "thumbnail-image", onclick: "myFunction(this);" %>
        </div>
        <div class="column">
          <%= image_tag @box.image3, class: "thumbnail-image", onclick: "myFunction(this);" %>
        </div>
        <div class="column">
          <%= image_tag @box.main_image, class: "thumbnail-image", onclick: "myFunction(this);" %>
        </div>
      </div>
    </div>

    <div class="show-right">
      <div class="show-overview">
        <h3>Product overview</h3>
        <p><%= @box.description %></p>
      </div>

      <p>Price per box: <%= humanized_money_with_symbol(@box.price) %></p>
      <%= form_tag new_box_subscription_path(@box), method: :get do %>
        <%= hidden_field_tag 'box_id', @box.id %>
        <%= submit_tag 'Order', class: "btn-purple" %>
      <% end %>
    </div>
  </div>

<!--   <div>
    <h2>Description</h2>
    <div>
      <p><%= @box.contents %></p>
    </div>
  </div> -->

  <h2>Reviews</h2>
  <br>
    <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->
    <div class="controls">
      <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
     <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <div class="card-body">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                alt="Card image cap">
                <div class="card-content">
                <h4 class="card-title"><strong>Rory</strong></h4>
                <p>February 2019</p>
                <p>Stars</p>
                </div>
              </div>
                <p class="card-text">I had an amazing experience with gorillabox. The protein was very tasty, the herbal teas were great for an evening chill-out. Most of all, the monthly challenges motivated me!</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2">
              <div class="card-body">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                alt="Card image cap">
                <div class="card-content">
                  <h4 class="card-title"><strong>Jack</strong></h4>
                  <p>March 2019</p>
                  <p>Stars</p>
                </div>
              </div>
                <p class="card-text">Gorillabox really got me running monthly and taking care of my body, I really enjoyed the normarilla box as it provided such a vast variety of goodies.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2">
              <div class="card-body">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
              <div class="card-content">
                <h4 class="card-title"><strong>Pablo</strong></h4>
                <p>January 2019</p>
                <p>Stars</p>
              </div>
              </div>
                <p class="card-text">I am feeling so much better after using the gorilla box. My muscle mass has improved and I love the 2KM challenge! I'm going to do it by the end of the month I promise.</p>
            </div>
          </div>

        </div>

      </div>
      <!--/.First slide-->

            <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <div class="card-body">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                alt="Card image cap">
                <div class="card-content">
                  <h4 class="card-title"><strong>Mike</strong></h4>
                  <p>December 2018</p>
                  <p>Stars</p>
                </div>
              </div>
                <p class="card-text">Gorillabox really got me running monthly and taking care of my body, I really enjoyed the normarilla box as it provided such a vast variety of goodies.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2">
              <div class="card-body">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                alt="Card image cap">
                <div class="card-content">
                  <h4 class="card-title"><strong>John</strong></h4>
                  <p>December 2018</p>
                  <p>Stars</p>
                </div>
              </div>
                <p class="card-text">I am feeling so much better after using the gorilla box. My muscle mass has improved and I love the 2KM challenge! I'm going to do it by the end of the month I promise.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2">
              <div class="card-body">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                alt="Card image cap">
                <div class="card-content">
                  <h4 class="card-title"><strong>Phelim</strong></h4>
                  <p>January 2019</p>
                  <p>Stars</p>
                </div>
              </div>
                <p class="card-text">I had an amazing experience with gorillabox. The protein was very tasty, the herbal teas were great for an evening chill-out. The monthly challenges motivated me!</p>
            </div>
          </div>
        </div>
      </div>
      <!--/.Second slide-->
          <!--/.Slides-->
  </div>
  <!--/.Carousel Wrapper-->
</div>

</div>




