<div class="navigation-container">
    <div class="nav-logo">
        <%= link_to root_path do %>
         <%= image_tag "logo.svg",  alt: "Gorilla"%>
        <% end %>
    </div>
    <div class="nav-links">
      <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <% if current_user.photo? %>
              <%= cl_image_tag current_user.photo, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "user.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Edit your details", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "My Subscriptions", subscriptions_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
            <%= link_to "here", new_user_session_path, class: "nav-link" %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
</div>
