   <%= simple_form_for [@box, @subscription] do |f| %>
     <% f.input :user_id %>

       <div class="f-inputs">
         <p style="color: black">Box name</p>
         <p class="box-name"><%= @box.title %></p>
       </div>

       <div class="f-inputs">
         <p style="color: black">Price</p>
         <p class="box-name">£<%= @box.price %></p>
       </div>

       <div id="hidden_price", style="display: none;">
         <%= @box.price %>
       </div>

       <div class="form-inputs">
         <%= f.input :quantity, input_html: {min: "0"} %>
         <%= f.input :duration, collection: ["One off", "1 month", "3 months", "6 months", "12 months"] %>
         <%= f.input :delivery_address %>
       </div>

         <div id="total" class="f-inputs">
         <p style="color: black">Total amount</p>
           <div class id="total_value">
             <p>£0</p>
           </div>
       </div>

     <div class="form-actions">
       <%= f.button :submit, "Confirm", class: "btn-purple" %>
     </div>
   <br>
 <p><%= link_to "Cancel", box_path(@box) %></p>
   <% end %>