
<div class="container">
  <div class="login-page">
    <div class="login-left">

    </div>
    <div class="login-right">
    <%= simple_form_for [@box, @subscription] do |f| %>
    <% f.input :user_id %>
    <p>Box Name: <%= @box.title %></p>
      <div id="price">
        Box Price: £<%= @box.price %>
      </div>
      <div id="price", style="display: none;">
      <%= @box.price %>
    <%= f.input :quantity %>
    <%= f.input :duration %>


      <div class="form-inline d-flex justify-content-between mb-2">
        <%= f.input :delivery_date, as: :date, html5: true, input_html: {value: Date.today + 3} %>
      </div>

      Total Amount:
      <div id="total">
      </div>

    <%= f.submit "Confirm", class: 'btn-purple' %>

  <% end %>
  </div>
</div>
</div>

<!--   <p>Is your billing address the same as your delivery address?</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label> -->

  <%= f.input :delivery_address %>

    <div class="form-inline d-flex justify-content-between mb-2">
      <%= f.input :delivery_date, as: :date, html5: true, input_html: {value: Date.today + 3} %>
    </div>

    Total Amount:
    <div id="total"; style="display: inline-block">
      £0
    </div>
  </br>
  </br>
  <%= f.submit "Confirm", class: 'btn btn-primary' %>








