
<div class = "container">

      <% if @user.photo.nil? %>
      <i class="fas fa-user"></i>
      <% else %>
      <img src= "<%=@user.photo %>" alt="" aria-hidden="true">
      <% end %>
      <%= @user.first_name %> <%= @user.last_name  %>

    <p style="text-align: center;"><%= "We would like to know more about you 👇" %></p>

      <ul>
        <li><strong>Gender: </strong>
          <% if @user.gender.nil? %>
            <%= link_to "What's your gender?", edit_user_registration_path  %>
          <% else %>
            <%= @user.gender %></li>
          <% end %>
        <li><strong>Date of Birth: </strong>
          <% if @user.gender.nil? %>
            <%= link_to "What day were you born on?", edit_user_registration_path  %>
          <% else %>
            <%= @user.date_of_birth %></li>
          <% end %>
        <li><strong>First Name: </strong>
          <% if @user.first_name.nil? %>
            <%= link_to "Add", edit_user_registration_path  %>
          <% else %>
            <%= @user.first_name %></li>
          <% end %>
        <li><strong>Last Name: </strong>
          <% if @user.last_name.nil? %>
            <%= link_to "What's your last name #{@user.first_name}?", edit_user_registration_path  %>
          <% else %>
            <%= @user.last_name %></li>
          <% end %>
        <li><strong>Billing Address: </strong>
          <% if @user.billing_address.nil? %>
            <%= link_to "Add", edit_user_registration_path  %>
          <% else %>
            <%= @user.billing_address %></li>
          <% end %></li>
        <li><strong>Delivery Address: </strong>
          <% if @user.delivery_address.nil? %>
            <%= link_to "Where would you like your next order to be delivered?", edit_user_registration_path  %>
          <% else %>
            <%= @user.delivery_address %></li>
          <% end %>
        <li><strong>Email:</strong>
          <% if @user.email.nil? %>
            <%= link_to "Add", edit_user_registration_path  %>
          <% else %>
            <%= @user.email %></li>
          <% end %>
        <li><strong>Mobile: </strong>
          <% if @user.mobile_number.nil? %>
            <%= link_to "On which number can we contact you?", edit_user_registration_path  %>
          <% else %>
            <%= @user.mobile_number %></li>
          <% end %>
        <li><strong>Goal: </strong>
          <% if @user.set_goals.nil? %>
            <%= link_to "Lean muscle or lose fat?", edit_user_registration_path  %>
          <% else %>
            <%= @user.set_goals %></li>
          <% end %>
      </ul>

<div class = "container"></div>
  <h1 style="text-align: center;">My Subscriptions</h1>
<br>
<table class="table">
    <thead>
      <tr class="text-bold">
        <th scope="col" class="align-middle">Product</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Duration</th>
        <th scope="col">Delivery Address</th>
        <th scope="col">Total</th>
      </tr>
    </thead>


        <% @subscriptions.each do |subscription| %>
        <% if subscription.user_id = current_user.id %>

    <tbody>
      <th scope="row-1" style="width: 60px;">
        <div class="subscription-row" style="margin: 0;">
          <div class="image-subscription">
            <img src='<%= subscription.box.main_image %>' style="width: 160px; height: 100px;" >
          </div>


          <div class="icons-under-image">

        <!-- Modal to update subscription -->


            <a href="#" data-toggle="modal" data-target="#editModalCenter">
                <i class="fa fa-pen" data-toggle='modal' aria-hidden="true"></i></a>
            <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header form-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit your subscription</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= render "shared/new-update", box: subscription.box, subscription: subscription  %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>


            <%= link_to box_subscription_path(subscription.box, subscription, class: "font-icon-delete"),
                  method: :delete,
                  data: {confirm: "We are very sad to see you go"} do %><i class="far fa-trash-alt"></i><% end %>


      <!-- Modal to add a review -->

                <a href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="far fa-star" data-toggle='modal' aria-hidden="true"></i></a>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header form-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add a review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= render "shared/new-review", box: subscription.box, review: Review.new %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

        </div>
      </th>
      <div class="subscription-order-details">

        <td class="align-middle"><%= link_to "#{subscription.box.title}", box_path(subscription.box), class: "align-middle"%></td>
        <td class="align-middle"><%= subscription.quantity %></td>
        <td class="align-middle"><%= subscription.duration %></td>
        <td class="align-middle"><%= subscription.delivery_address %></td>
        <td class="align-middle" style="background-color: #AA96DA; color: white; text-align: center;">£<%= subscription.amount  %></td>
      </div>

      <% end %>
  <% end %>
  </tbody>
</table>

<% user_subscriptions = [] %>
<% @subscriptions.each do |subscription| %>
  <% if subscription.user_id = current_user.id %>
    <% user_subscriptions << subscription %>
  <% end %>
<% end %>

  <% if user_subscriptions == [] %>
  </br>
    <p style="text-align: center;"><i><%= "You don't have any subscriptions at the moment, please visit our" %><i><%= link_to "product page", boxes_path %></p>
  <% end %>



</div>

