<div class = "container"></div>
  <h1 style="text-align: center;">My Subscriptions</h1>
<br>
<br>

<table class="table">
    <thead>
      <tr class="text-bold">
        <th scope="col" class="align-middle">Product</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Duration</th>
        <th scope="col">Delivery Address</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
        <% @subscriptions.each do |subscription| %>
        <% if subscription.user_id = current_user.id %>
    <tbody>
      <th scope="row-1" style="width: 60px;">
        <div class="subscription-row" style="margin: 0;">
          <div class="image-subscription">
            <img src='<%= subscription.box.main_image %>' style="width: 160px; height: 100px;" >
          </div>


          <div class="icons-under-image">

        <!-- Modal to update subscription -->


            <a href="#" data-toggle="modal" data-target="#editModalCenter">
                <i class="fa fa-pen" data-toggle='modal' aria-hidden="true"></i></a>
            <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header form-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit your subscription</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>


            <%= link_to box_subscription_path(subscription.box, subscription, class: "font-icon-delete"),
                  method: :delete,
                  data: {confirm: "We are very sad to see you go"} do %><i class="far fa-trash-alt"></i><% end %>


      <!-- Modal to add a review -->

                <a href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="far fa-star" data-toggle='modal' aria-hidden="true"></i></a>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header form-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add a review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= render "shared/new-review", box: subscription.box, review: Review.new %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

        </div>
      </th>
      <div class="subscription-order-details">
        <td class="align-middle"><%= link_to "#{subscription.box.title}", box_path(subscription.box), class: "align-middle"%></td>
        <td class="align-middle"><%= subscription.quantity %></td>
        <td class="align-middle"><%= subscription.duration %></td>
        <td class="align-middle"><%= subscription.delivery_address %></td>
        <td class="align-middle" style="background-color: #AA96DA; color: white; text-align: center;">£<%= subscription.amount  %></td>
      </div>
<% end %>
  <% end %>
  </tbody>
</table>
</div>
