<h1>My Subscriptions / Dashboard </h1>
<% @subscriptions.each do |subscription| %>
  Box Name: <%= subscription.box.title %>
    </br>
  Quantity: <%= subscription.quantity %>
    </br>
  Duration: <%= subscription.duration %>
    </br>
  Delivery address: <%= subscription.delivery_address %>
    </br>
  Total amount: £<%= subscription.amount  %>
    </br>
  <%= link_to "EDIT", edit_box_subscription_path(subscription.box, subscription) %>
    </br>
  <%= link_to "DELETE", box_subscription_path(subscription.box, subscription),
        method: :delete,
        data: {confirm: "Are you sure>"} %>
    </br>
  <%= link_to "Review this Box",new_box_review_path(subscription.box, subscription) %>

  <p>---------------------</p>
<% end %>

