

<div class="map-flex" style="min-height: calc(100vh - 200px);">
  <div
      id="map"
      style="width: 50%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"> -->
  <div class="subscription_details">
    <h3>Subscription confirmation</h3>
    <p>Congrats, your box is on its way! 😊</p>

    <h3>Details:</h3>
    <div class="f-inputs">
      <span style="color: #202428"><p class="box-name" style="width: 300px;">Item:</span> <span style="color:#969696"><%= @subscription.box.title %></span></p>
    </div>

    <div class="f-inputs">
      <span style="color: #202428"><p class="box-name" style="width: 300px"><strong>Quantity:</strong></span> <span style="color: #969696"><%= @subscription.quantity %></span></p>
    </div>

    <div class="f-inputs">
      <span style="color: #202428"><strong><p class="box-name" style="width: 300px">Duration:</strong></span> <span style="color: #969696"><%= @subscription.duration %></span></p>
    </div>

    <div id="hidden_delivery_address", style="display: none;">
      <%= @subscription.delivery_address %>
   </div>

    <div class="f-inputs">
      <span style="color: #202428"><strong><p class="box-name" style="width: 300px">Delivery address:</strong></span> <span style="color: #969696"><%= @subscription.delivery_address %></span></p>
    </div>

    <div class="f-inputs">
      <span style="color: #202428"><strong><p class="box-name" style="width: 300px">Payment status:</strong></span> <span style="color: #969696"><%= @subscription.state %> </span></p>
    </div>


    <div class="f-inputs">
     <strong><p class="box-name" style="color: #AA96DA; width: 300px">Total: <%= humanized_money_with_symbol(@subscription.amount) %></p></strong>
    </div>

    <p> We hope to see you very soon on Gorilla!</p>
    <div>
        <%= link_to root_path do %>
        <p style="color:#AA96DA"> Home</p>
        <% end %>
        <%= link_to 'Download as PDF', export_notes_path(id: current_user.id, format: :pdf, sub_id: @subscription.id, box_id: @subscription.box.id), target: '_blank', class: "btn-purple" %>
    </div>
    </br>
  </div>
</div>


<style>
  .map-flex {
    display: flex;
    justify-content: space-around;
  }

  a:hover {
text-decoration: none;
}
</style>
