<div class="final_invoice">
    <h1>Box Purchase: <%= @subscription.box_sku %></h1>
    <%= form_tag subscription_payments_path(@subscription) do %>
    <article>
      <label for="Item">
        <span>Item: <%=@subscription.box.title %></span>
      </label>
      </br>
      <label for="Quantity">
          <% if @subscription.quantity == 1 %>
            <span> Quantity: <%= @subscription.quantity %> Box</span>
          <% else %>
            <span> Quantity: <%= @subscription.quantity %> Boxes</span>
          <% end %>
      </label>
      </br>
      <label for="Duration">
        <span>Duration: <%=@subscription.duration %></span>
      </label>
      </br>
      <label for="Delivery address">
        <span>Delivery address: <%=@subscription.delivery_address %></span>
      </label>
          <div id="hidden_delivery_address", style="display: none;">
            <%= @subscription.delivery_address %>
          </div>
      </br>
      <label for="payment_status">
        <span>Payment Status: <%=@subscription.state %></span>
      </label>
      </br>
      <label class="amount">
        <span>Total Amount: <%= humanized_money_with_symbol(@subscription.amount) %></span>
      </label>
    </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-purple"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-email="<%= current_user.email %>"
    data-description="Box <%= @subscription.box_sku %>"
    data-amount="<%= @subscription.amount_cents %>"
    data-currency="<%= @subscription.amount.currency %>"></script>
  <% end %>


  <div>
    <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>
