<h1>Box Purchase <%= @subscription.box_sku %></h1>
<%= form_tag subscription_payments_path(@subscription) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@subscription.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-email="<%= current_user.email %>"
    data-description="Box <%= @subscription.box_sku %>"
    data-amount="<%= @subscription.amount_cents %>"
    data-currency="<%= @subscription.amount.currency %>"></script>

<% end %>
