
<!--     <h1 style="text-align: center;">Challenges</h1>


    	  <section class="task-list current">
    	    <ul>
    	      <li> -->
              <!-- First Check -->
<!--     	        <div class="checkbox">
    	          <div class="check">
    	            <input type="checkbox" name="task_00">
    	            <div class="check-container">
    	              <div class="check-off"></div>
    	              <div class="check-on"><i></i></div> -->

<!--     	            </div>
    	          </div>
    	          <div class="label">
    	            <mark><strong>Pushups</strong> 👉 30 x 4</mark>
    	        </div>
    	      </li>
    	      <li>
    	        <div class="checkbox">
    	          <div class="check">
    	            <input type="checkbox" name="task_00">
    	            <div class="check-container">
    	              <div class="check-off"></div>
    	              <div class="check-on"><i></i></div>

    	            </div>
    	          </div>
    	          <div class="label">
                    <mark><strong>Situps</strong> 👉 20 x 4</mark>
                </div>
    	          </div>
    	        </div>
    	      </li>
    	      <li>
    	        <div class="checkbox">
    	          <div class="check">
    	            <input type="checkbox" name="task_01">
    	            <div class="check-container">
    	              <div class="check-off"></div>
    	              <div class="check-on"><i></i></div> -->

<!--     	            </div>
    	          </div>
    	          <div class="label">
                    <mark><strong>Burpees</strong> 👉 10 x 4</mark>
    	          </div>
    	        </div>
    	      </li>
    	      <li>
    	        <div class="checkbox">
    	          <div class="check">
    	            <input type="checkbox" name="task_02">
    	            <div class="check-container">
    	              <div class="check-off"></div>
    	              <div class="check-on"><i></i></div> -->

<!--     	            </div>
    	          </div>
    	          <div class="label">
    	            <mark><strong>Jumping Jacks</strong> 👉 20 x 4</mark>
    	          </div>
    	        </div>
    	      </li>
    	    </ul>
    	  </section> -->

<div class="challenges-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1549060279-7e168fcee0c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Find your inner'rilla</h1>
    <a class="btn-purple" href="#">Claim Reward</a>
  </div>
</div>

<br>
<br>
<div class="challenges-container">
  <div class="challenge-wrapper">
    <div class="challenge-header">
      <h2>My Completed Challenges</h2>
    </div>
      <% @completed_challenges.each do |challenge| %>
      <div class="challenge-info">
        <p><%= challenge.title %></p>
        <i class="far fa-check-square"></i>
      </div>
      <% end %>
  </div>
  <div class="challenge-wrapper">
    <div class="challenge-header">
      <h2>My outstanding Challenges</h2>
     </div>
    <% @incomplete_challenges.each do |challenge| %>
      <div class="challenge-info">
        <p><%= challenge.title %></p>
        <p><%= challenge.details %></p>
        <div class="check-link">
          <%= link_to complete_challenge_path(challenge), method: :post do %>
            <i class="far fa-square"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


    	  </section>

        <div>
              <div
              id="map"
              style="width: 100%;
              height: 600px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
        </div>
